* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

/* Icons  */
.img-product {
  width: 1.5rem;
}

.img-account {
  width: 3rem;
}

.img-account,
.img-product {
  opacity: 70%;
}

@media (min-width: 90rem) {
  .logo {
    height: 6rem;
  }
}

/* links */
a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #4285f4 !important;
}

a:visited,
a:active {
  color: #000;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem 2.8rem;
}

.navlist {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
  font-size: 1.55rem;
}

/* search */
.google {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 70vh;
  width: 100%;
}

.google__logo {
  position: relative;
}

.google__images {
  position: absolute;
  right: 0.5rem;
  bottom: 0.8rem;
  font-size: 1.6rem;
  color: #4285f4;
}

.search__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search {
  padding: 0 5rem;
  border-radius: 100px;
  height: 4.6rem;
  width: 100%;
  margin-bottom: 2rem;
  border: 1px solid rgba(20, 20, 2, 0.1);
}

.search:hover,
.search:focus {
  box-shadow: 0 1px 4px rgba(20, 20, 2, 0.2);
  outline: none;
  font-size: 1.35rem;
  font-family: inherit;
}

.input {
  position: relative;
  width: 40%;
}

.fa-solid {
  font-size: 1.7rem;
  position: absolute;
  left: 1.5rem;
  bottom: 3.4rem;
  opacity: 70%;
}

.button-container {
  display: flex;
  gap: 2rem;
}

button {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  font-weight: 400;
}

button:hover {
  background-color: #d3d4d5;
  cursor: pointer;
}

/* Advanced Search */
.heading {
  font-size: 2rem;
  font-weight: 500;
  color: #dc3545;
  padding: 1rem 4rem;
  border-bottom: 1px solid rgb(108, 117, 125, 0.3);
  margin-bottom: 2rem;
}

.advanced {
  display: flex;
  margin-left: 4rem;
  gap: 1rem;
}

.advanced > :last-child {
  margin-left: 35.2rem;
}

.heading__secondary {
  font-size: 1.6rem;
}

.instructions {
  display: flex;
  flex-direction: column;
  font-size: 1.35rem;
  font-weight: 400;
  gap: 3rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1.65rem;
  margin-top: 4.3rem;
  width: 300%;
}

.input_field-1,
.input_field-2,
.input_field-3,
.input_field-4 {
  height: 2.8rem;
  width: 100%;
  border: 0.1px solid #000;
  padding: 0 0.3rem;
}

.input_field-1:focus,
.input_field-2:focus,
.input_field-3:focus,
.input_field-4:focus {
  border: 1px solid #8ab4f8;
  outline: none;
}

.rel {
  position: relative;
}

.ad_bth {
  position: absolute;
  bottom: -4rem;
  right: -35.4rem;
  border-radius: 0;
  font-size: 1rem;
  font-weight: 400;
  color: aliceblue;
  background-color: #4d90fe;
  border: 0.1px solid #4d90fe;
}

.ad_bth:hover {
  background-color: #8ab4f8;
  border: 0.1px solid #3079ed;
  color: #000;
}

.todo {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  gap: 3rem;
}

span {
  color: grey;
}
